@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: #2bcbba;
  font-family:'Lato', sans-serif ;
  margin:0;
}
nav{
  background-color: #EA2027;
  color:flex;
  padding:20px;
  text-align: center;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;

}
nav a {
  color:black;
  margin-left:20px;
  font-family: inherit;
  font-size: 18px ;
  text-decoration: none;
}
nav a:hover{
    border-bottom: 3px solid #000;
}
header{
  background-image: url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
   background-size:cover;
  background-position:center center;
  height: 100vh;
  position: relative;
  color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
header::after{
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity:0.8;
}
header *{
  position: relative;
  z-index:1;
}
header h1{
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0;
}
header p{
  font-size:30px;
  margin:0;
}
footer{
  background-color: #EA2027;
  padding:15px;
  text-align: right;
}
section{
  text-align: center;
  
}
section h2{
  margin-bottom: 0;
}
section p{
  margin-top: 0;
}
.contact-links{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding:0;
  margin:0;
}
.contact-links a{
  color:black;
  font-size: 35px;
  margin: 0 15px;
}
.project{
    
    margin:10px;
    max-width: 250px;
}
.project:hover{
    transform: scale(1.07);
}
.project img{
    max-width: 100%;
}
.project-tile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 20px auto 0;
}
.project-tile a{
    text-decoration: none;
}
.project-tile a:hover{
    text-decoration: underline;
    color: red;
}
.project-tile p{
    font-size: 20px;
    color:black;
    margin: 10px;
}
.project-tile p:hover{
    color: red;
}
@media (max-width: 440px){
    section{
        padding:10px;
    }
}
